.sign-in-title {
    margin: 10px;
}

.form-sign-in {
    margin: 10px;
}

.label-sign-in, .input-sign-in {
    display: block;
    margin-top: 10px;
}

.btn-submit {
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

.text-error {
    display: inline-block;
    margin: 10px;
    font-weight: bold;
}